---
import Layout from "../layouts/Layout.astro";
import Quizz from "../components/Quizz";
import { random } from "../utils/random";
import { POKEMONS_IDS } from "../utils/pokemons";
import { _assert } from "../utils/_assert";

const index = random(0, POKEMONS_IDS.length - 1);
const pokemonId = POKEMONS_IDS[index];
_assert(pokemonId);

const url = `${import.meta.env.PUBLIC_BASE_PATH}/spritesJson/${pokemonId}.json`;
const sprites = await fetch(url);
const spritesJson = await sprites.json();
---

<Layout title="Pokéflou">
    <main>
        <h1>Quel est ce POKéMON ?</h1>
        <Quizz sprites={spritesJson} client:visible />

        <style>
            h1 {
                color: rgb(71, 85, 10);
                font-weight: 400;
            }

            main {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        </style>
    </main>
</Layout>
