---
import Layout from "../layouts/Layout.astro";
import ButtonPixelize from "../components/ButtonPixelize";
import { random } from "../utils/random";
import { POKEMONS_IDS } from "../utils/pokemons";
import { _assert } from "../utils/_assert";

const index = random(0, POKEMONS_IDS.length - 1);
const pokemonId = POKEMONS_IDS[index];
_assert(pokemonId);

const sprites = await fetch(
    `http://localhost:3000/getSprites?id=${pokemonId}`,
    {
        method: "get",
    }
);
const spritesJson: {
    1: string;
    2: string;
    3: string;
    4: string;
    7: string;
} = await sprites.json();
---

<Layout title="Pokéflou" pokemonId={pokemonId}>
    <main>
        <h1>Quel est ce POKéMON ?</h1>
        <div>
            <ButtonPixelize sprites={spritesJson} client:visible />
        </div>

        <style>
            h1 {
                color: rgb(71, 85, 10);
                font-weight: 400;
            }
            main {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        </style>
    </main>
</Layout>
